/* Browser Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* HTML Settings */
html {
    color: black;
    font-size: 2em;
    font-family: arial;
}

/* Body */
body {
    background-color: #333333;
    color: #EEEEEE;
    font-family: sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    font-size: 2em;

}

/* Index Main Content */

/* Blocks */
.menu { 
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 100px; 
    gap: 80px;
    flex-wrap: wrap;
    
}

.pheader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.box {
    flex-basis: 400px;
}

.boxlink {
    text-decoration: none;
    color: #333333;
    
}

.box1 {
    background: #888888;
    color: #333333;

}

.boxtext {
    text-align: center;
    

}

.box2 {
    background: #888888;
    color: #333333; 
      
}

/* Contact Me */
.contactlinks {
    text-decoration: none;
    color: #EEEEEE;
    text-align: center;
}

.contactp {
    text-align: center;
    margin-top: 50px;
}




